
.container-side-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container-side-bar button {
    border: none;
    background-color: rgb(132, 165, 255);
    height: 50%;
    font-size: 18pt;
}

.container-side-bar button:hover {
    background-color: rgb(104, 144, 255);
}

.favorite-button {
    border-radius: 0px 0px 10px 0px;
}
