<!-- HTML Document -->

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar-container"></div>
      <mat-card-title>Cauê</mat-card-title>
      <mat-card-subtitle>Aquino Nogueira</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>