/* CSS Document */

.loading-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}

span {
    margin-top: 30px;
    font-size: 30pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px black;
    font-weight: 500;
}

h3 {
    font-size: 32pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px black;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.example-card {
    max-width: 400px;
    background-color: rgba(13, 0, 43, 0.8);
    color: white;
    margin: 30px;
    box-shadow: 0px 0px 10px black;
}

.container-name {
    width: 100%;
    display: flex;
    flex-direction: column;
}

mat-card-title {
    font-size: 16pt;
}

mat-card-subtitle {
    font-size: 12pt;
    color: rgb(224, 224, 224);
}

img.mat-card-image {
    max-width: 322.15px;
    max-height: 322.15px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;

}

.favorite-button {
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.favorite-icon {
    margin-left: -22px;
    font-size: 48px;
    color: white;
}

.container-buttons-create-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    width: 33%;
}

button:hover {
    -webkit-transform: scale(1.2);
}