/* CSS Document */

input {
    color: white;
    background-color: rgb(16, 0, 53);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.171);
    font-size: 18pt;
    padding: 8px 0px 8px 2px;
    width: 90%;
}

input:hover {
    background-color: rgb(30, 0, 100);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.705);
}

.example-full-width {
    width: 100%;
}