<!-- HTML Document -->

<h2>Contact's Info</h2>

<div class="contact-info-container">
    <section>
        <div class="container-back-view">
            <button mat-button routerLink=""><mat-icon class="back-icon">arrow_back</mat-icon> Back</button>
        </div>
        <button class="action-button" (click)="editContactInfoButton()" routerLink="EditContact"><mat-icon>edit</mat-icon></button>

        <button class="action-button" (click)="deleteContactInfoButton()"><mat-icon>delete</mat-icon></button>
        
        <button class="action-button" (click)="favoriteContactInfoButton()"><mat-icon [innerText]=" infoContact.isFavorite===true ? 'star' : 'star_border' "></mat-icon></button>
    </section>
    
    <img [src]=" verifyAvatar(infoContact) ? infoContact.info.avatar : '../../assets/images/alt-avatar.png' " alt="avatar-icon" height="200px" width="200px">
    <span> Fisrt Name: {{ infoContact.firstName }}</span>
    <span> Last Name: {{ infoContact.lastName }}</span>
    <span> Email: {{ infoContact.email }}</span>
    <span> Gender: {{ genderInfo }}</span>
    <span> Company: {{ infoContact.info.company }}</span>
    <span> Address: {{infoContact.info.address }}</span>
    <span> Phone: {{ infoContact.info.phone }}</span>
    <span class="comments"> Comments:</span>
    <textarea disabled cols="30" rows="10">{{ infoContact.info.comments }}</textarea>
</div>