/* CSS Document */

h2 {
    font-size: 36pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px black;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 70%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    margin-bottom: 40px;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}

section, .container-back-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.container-back-view{
    flex-direction: center;
    width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 0, 56, 0.301);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16pt;
    padding: 10px;
}

button:hover {
    background-color: #907cfd;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
}

span{
    padding-bottom: 10px;
}

span, label, textarea{
    width: 100%;
    color: rgb(65, 65, 65);
    font-size: 14pt;
    margin-bottom: 25px;
    border-bottom: 3px solid rgba(26, 0, 51, 0.171);
}

textarea {
    resize: none;
}

.comments {
    border-bottom: none;
    margin-bottom: 10px;
}

.back-icon {
    color: white;
    font-size: 30px;
}

.star-icon {
    padding-right: 50px;
}

mat-icon {
    margin-top: -11px;
    font-size: 80px;
    color: yellow;
}

