<!-- HTML Document -->

<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="menuButton">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <h3>Menu</h3>
    <h4>Views</h4>
    <button mat-menu-item (click)='viewServicesService.chooseViewAreaType(0)'>
      <mat-icon>contacts</mat-icon>
      <span>Contacts</span>
    </button>
    <button mat-menu-item (click)='viewServicesService.chooseViewAreaType(1)'>
      <mat-icon>star</mat-icon>
      <span>Favorites</span>
    </button>
    <br>
    <h4>Services</h4>
    <button mat-menu-item (click)='viewServicesService.changeWhatIsShowing(1)' [disabled]=" verifyButtonCreateContactMenu() ? 'true' : 'false' ">
      <mat-icon>person_add</mat-icon>
      <span>Create Contact</span>
    </button>
  </mat-menu>

  <h1>Contacts Book</h1>
  <div>
    <button mat-button (click)='viewServicesService.changeSearchOn()' class="btSearch"><mat-icon class="material-icons md-36 md-light">search</mat-icon></button>
  </div>
</mat-toolbar>

<app-search-container *ngIf="viewServicesService.getSerchOn()"></app-search-container>