<!-- HTML Document -->

<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="menuButton">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <h3>Menu</h3>
    <h4>Views</h4>
    <button mat-menu-item (click)='contactButton()'>
      <mat-icon>contacts</mat-icon>
      <span>Contacts</span>
    </button>
    <button mat-menu-item (click)='favoriteButton()'>
      <mat-icon>star</mat-icon>
      <span>Favorites</span>
    </button>
    <br>
    <h4>Services</h4>
    <button mat-menu-item (click)='createContactMenuButton()'>
      <mat-icon>person_add</mat-icon>
      <span>Create Contact</span>
    </button>
  </mat-menu>

  <h1>Contacts Book</h1>
  
    <app-search-container></app-search-container>
</mat-toolbar>