/* CSS Document */

mat-toolbar {
    background-color: rgb(13, 0, 43);
    height: 64px;
}

h1 {
    color: white;
    font-size: 22pt;
    margin-left: 15px;
}

h3{
    width: 80%;
    padding: 5% 10% 5% 10%;
    color: rgb(100, 91, 110);
    font-size: 22pt;
    border-bottom: 1px solid rgb(218, 218, 218);
}

h4 {
    width: 100%;
    text-align: center;
    color: rgb(131, 122, 141);
    font-size: 16pt;
    background-color: rgb(214, 214, 214);
    margin-bottom: 10px;
}

button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: rgb(30, 0, 99);
}

span {
    color: rgb(104, 94, 117);
    font-size: 20pt;
}

app-search-container {
    width: 90%;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    margin: 0% 5% 0% 5%; 
}