<!-- HTML Document -->

<app-delete-dialog  *ngIf="viewServicesService.getShowConfirmDelete()"></app-delete-dialog>
<app-favorite-dialog  *ngIf="viewServicesService.getShowConfirmFavorite()"></app-favorite-dialog>
<app-edit-dialog *ngIf="viewServicesService.getShowConfirmEdit()"></app-edit-dialog>
<app-create-dialog *ngIf="viewServicesService.getShowConfirmCreate()"></app-create-dialog>
<app-alert-dialog *ngIf="viewServicesService.getShowAlert()"></app-alert-dialog>

<app-main-bar></app-main-bar>
<div class="view-area-container" [style.display]=" viewServicesService.getShowViewArea() ? 'flex' : 'none' ">
    <app-header-view-area></app-header-view-area>
    <app-view-area></app-view-area>
</div>
<app-create-contact-area *ngIf="viewServicesService.getShowCreateContactArea()"></app-create-contact-area>
<app-contact-info-area *ngIf=" viewServicesService.getShowInfoContactArea() "></app-contact-info-area>