<!-- HTML Document -->

<app-favorite-dialog  *ngIf="viewServicesService.getShowConfirmFavorite()"></app-favorite-dialog>
<app-edit-dialog *ngIf="viewServicesService.getShowConfirmEdit()"></app-edit-dialog>
<app-create-dialog *ngIf="viewServicesService.getShowConfirmCreate()"></app-create-dialog>
<app-alert-dialog *ngIf="viewServicesService.getShowAlert()"></app-alert-dialog>
<app-api-alert *ngIf="viewServicesService.getShowApiAlert()"></app-api-alert>

<app-main-bar></app-main-bar>
<router-outlet></router-outlet>
