/* CSS Document */



.container-create-contact-button {
    width: 100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.container-create-contact-button button {
    height: 70px;
    width: 70px;
    border-radius: 40px 40px 40px 40px;
    margin-top: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px black;
    border: none;
    background-color: rgb(13, 0, 43);
    padding: 10px;
    transition: all 0.2s;
}

.container-create-contact-button button:hover {
    -webkit-transform: scale(1.1);
    background-color: rgb(30, 0, 99);
}

.container-create-contact-button mat-icon {
    font-size: 50px;
    margin-left: -25px;
    color: white;
}

h2 {
    font-size: 36pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px black;
    margin-bottom: 40px;
}