<!-- HTML Document -->

<h2 [innerText]=" isEdit ? 'Edit Contact' : 'Create Contact' "></h2>

<form class="example-form" [formGroup]="formContact">
    <div class="example-container">
        <mat-form-field formGroupName="info">
            <input matInput placeholder="Url Avatar" formControlName="avatar">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Enter your email"  formControlName="email" required>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Choose a Gender" formControlName="gender" required>
                <mat-option *ngFor="let gender of genders" [value]="gender.valu">
                    {{ gender.gender }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field formGroupName="info">
            <input matInput placeholder="Company" formControlName="company" required>
        </mat-form-field>

        <mat-form-field formGroupName="info">
            <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>

        <mat-form-field formGroupName="info">
            <input matInput placeholder="Phone Number" formControlName="phone">
        </mat-form-field>

        <mat-form-field formGroupName="info">
            <input matInput placeholder="Comments" formControlName="comments">
        </mat-form-field>

        <mat-slide-toggle #createIsFavorite formControlName="isFavorite">Favorite Contact</mat-slide-toggle>
        
        <button *ngIf="true" mat-raised-button (click)="confirmButton()"><mat-icon>check</mat-icon> Confirm</button>
        <button mat-raised-button (click)="location.back()"><mat-icon>close</mat-icon> Cancel</button>
    </div>
</form>
