/* CSS Document */

h2 {
    font-size: 36pt;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px black;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    min-width: 70%;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);
    margin-bottom: 40px;
}

mat-form-field {
    margin-bottom: 20px;
}

mat-slide-toggle {
    margin-top: 10px;
    margin-bottom: 30px;
}

button {
    background-color: #c6bcff;
    margin-top: 15px;
    font-size: 12pt;
}

button:hover {
    background-color: #907cfd;
}