/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(193, 182, 255);
    background-image: url('./assets/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-size: cover;
}

app-favorite-dialog, app-alert-dialog, app-api-alert {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(76, 0, 255, 0.171);
    z-index: 11;
}

app-create-contact-area, app-contact-info-area, app-header-view-area, app-view-area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input:focus {
    outline-style: none;
}

button:focus {
    outline-style: none;
}

html, body {
    height: 100%;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    width: 100%;
    height: 100%;
}

.dialog-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}